<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            name="name"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <!--   
              pattern="[1-9]\d{0,2}" -- torna do formulário inválido caso o o valor digitado seja igual ou menor que zero 
          -->
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            [pattern]="'[1-9]\d{0,2}'"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- 
              para que o botão envie uma solicitação ele precisa ser tipo submit, só assim ele pode acionar o ngSubmit() 
          -->
          <!-- 
              [disable]="!f.valid" -- desabilita o botão se o formulario não foi valido  
          -->
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
            Add
          </button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
